body {
    font-family: "Indie Flower", cursive;
    font-weight: 600;
    font-style: normal;
    background-color: black;
  }
main{
    background-color: gray;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    padding: 20px;
    
}

div{
    flex-wrap: wrap;
    box-shadow: 10px 10px 10px 10px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    width: 300px;
    height: 300px;
    border: 2px solid black;
}
#post1{
    transform: rotate(-5deg);
    background-color: yellow;
}
#post2{
    transform: rotate(5deg);
    background-color: yellowgreen;
}
#post3{
    transform: rotate(15deg);
    background-color: purple;
}
#post4{
    transform: rotate(4deg);
    background-color: yellowgreen;
}
#post5{
    transform: rotate(-8deg);
    background-color: yellow;
}
#post6{
    transform: rotate(15deg);
    background-color: purple;
}
#post7{
    transform: rotate(-10deg);
    background-color: yellow;
}
#post8{
    transform: rotate(8deg);
    background-color: yellowgreen;
}

#post1:hover {
    transform: rotate(0deg);
    transform: scale(1.2);
    cursor: pointer;
    animation: apparizione 1s forwards 0.6s;
  }

  #post2:hover {
    transform: rotate(0deg);
    transform: scale(1.2);
    cursor: pointer;
  }
  #post2:hover {
    transform: rotate(0deg);
    transform: scale(1.2);
    cursor: pointer;
  }
  #post3:hover {
    transform: rotate(0deg);
    transform: scale(1.2);
    cursor: pointer;
  }
  #post4:hover {
    transform: rotate(0deg);
    transform: scale(1.2);
    cursor: pointer;
  }
  #post5:hover {
    transform: rotate(0deg);
    transform: scale(1.2);
    cursor: pointer;
  }
  #post6:hover {
    transform: rotate(0deg);
    transform: scale(1.2);
    cursor: pointer;
  }
  #post7:hover {
    transform: rotate(0deg);
    transform: scale(1.2);
    cursor: pointer;
  }
  #post8:hover {
    transform: rotate(0deg);
    transform: scale(1.2);
    cursor: pointer;
  }

  div {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  #post1 {
    animation: apparizione 1s forwards 0.3s;
  }
  
  #post2 {
    animation: apparizione 1s forwards 0.2s;
  }
  
  #post3 {
    animation: apparizione 1s forwards 0.5s;
  }
  
  #post4 {
    animation: apparizione 1s forwards 0.1s;
  }
  
  #post5 {
    animation: apparizione 1s forwards 0.6s;
  }
  
  #post6 {
    animation: apparizione 1s forwards 0.7s;
  }
  
  #post7 {
    animation: apparizione 1s forwards 0.8s;
  }
  #post8 {
    animation: apparizione 1s forwards 0.9s;
  }
  
  @keyframes apparizione {
    to {
      opacity: 1;
      
    }
  }