$coloreHeader:#640fc5;
header{
    padding-top: 110px;
    background-color: $coloreHeader;
    display: flex;
    justify-content: space-between;
    padding-left:10%;
    padding-right:10%;
}
nav{
    padding-top: 15px;
}
nav a{
    padding: 15px;
    color: white;
    text-decoration: none;
}
header span{
    font-weight: bold;
}