/* Your styles here */
body {
    font-family: "Arial", "Helvetica", sans-serif;
    background-color: #FFFFFF ;
}
header{
    display: block;
    background-color: #222F3F;
    margin-top: 0px;
    padding-left: 50px;
    margin-top: 0px;
}
nav {
    margin-top: 0px;
    display: block;
    background-color: #364759;
    text-decoration: none;
    padding: 10px;
    padding-left: 50px;
}
.link_nav{
    text-decoration: none;
    color:#DDE7EE;
    margin: 10px;
}
main{

    background-color:#E9EDEE ;
}
.sfondo_arancione{
    color: #FFFBDA;
    display: block;
    padding: 2px;
    margin: 55px;
    text-align: center;
    background-color: #F56600;
}
.sfonod_header{
    background-image: url("../images/bg-image.png");
    background-size: contain;
    text-align: center;
    color: #E7ECEA;
    padding-top: 80px;
    margin: 55px;
    height: 200px;
}
.section_2{
    display:block;
    margin: 50px;
    padding-top: 10px;
    padding-left: 10px;
   background-color:#FFFFFF ;
   box-sizing: content-box;

}
.foto4{
    box-sizing: content-box;
    display: inline-block;
    padding: 10px;
    text-align: center;
    border-radius: 10%;
    margin: 2px;
    height: 400px;
    box-shadow: 10px 10px 5px #e7e8e9;
    margin-bottom: 30px;
    margin-bottom: 10px;
}
.inline{
    display: inline;
    margin-right:20px ;
    
}
.section_3{
    display:block;
    margin: 50px;
   background-color:#FFFFFF ;
   text-align: center;

}
.link_foto{
    text-align: center;
    text-decoration: none;
    color: #0D5E63;
    font-weight: bold;
}
.ancora{
    color: #F7FFFF;
    padding: 10px;
    text-align: center;
    display: block;
    background-color: #364759;
}
footer{
    padding: 90px;
  background-color: #222F3F;
  text-align: center;
}