/* Risoluzione usata 1400 */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}
header {
    z-index: 1;
    position: sticky;
    top: 0;
    padding: 10px;
    margin-top: 0;
    border-bottom: 1px solid black;
    border: 100%;
    background-color: #ffc017;
}
nav {
    margin-top: 0;
    background-color: #ffc017;
    padding: 0 15%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
#cerchioNav1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}
#cerchioNav2 {
    display: inline-block;
    width: 10px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}
#cerchioNav3 {
    display: inline-block;
    width: 5px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}
header h2 {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 5px;
    display: inline;
    font-weight: bolder;
    font-size: 35px;
}
nav a {
    text-decoration: none;
    color: black;
    display: flex;
}
.bottoneNav {
    display: inline-block;
    color: white;
    background-color: black;
    text-align: center;
    width: 100px;
    height: 20px;
    padding: 5px;
    padding-left: 20px;
    border-radius: 10px;

    margin: 0;
}
.bottoneNav a {
    color: white;
}
.bloccoLink {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin: 0;
}
section h1 {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: normal;

    font-size: 80px;
}
section {
    display: flex;
    flex-direction: row;
    background-color: #ffc017;
    border-bottom: 1px solid black;
}
.bloccoH1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15%;
}
.bloccoM {
    display: flex;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.bloccoH1 h1 {
    margin-bottom: 0px;
}
.bloccoH1 p {
    width: 60%;
}
section a {
    text-decoration: none;
    color: black;
    display: flex;
}
.articoloTreding {
    display: flex;
}
.articolo1 {
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 15%;
    border-bottom: 1px solid rgb(196, 190, 190);
}
article h4 {
    display: inline-block;
    margin-left: 5px;
}
.containerArticle {
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.articoloTreding_1 {
    margin-bottom: 50px;
    width: 33.3%;
}
.inlineBlock {
    display: inline-block;
    margin: 0;
}
.numero {
    margin-right: 15px;
    color: #e4e2e2;
    font-size: 35px;
}
.fotoCerchiosa {
    border-radius: 50%;
    width: 23px;
    margin-right: 5px;
}
.fotoQuadrata {
    border-radius: 30%;
    width: 23px;
    margin-right: 5px;
}
.dataPubblicazione {
    display: inline-block;
    color: #9e9c9c;
    margin: 0;
}
.colorStar {
    margin-left: 15px;
    color: #ffc017;
}
.containerArticle2 {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 77%;
    padding: 0 15%;
    padding-right: 0;
}

.bloccoArticoloTesto {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
}
.immagineAutore {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.nomeAutore {
    width: 90%;
}
.titoloArticolo {
    width: 90%;
}
.textBox {
    height: 40px;
    width: 60%;
    margin: 0;
    margin-right: 50px;
}
.immagineArticolo {
    position: relative;
    top: -60px;
    width: 200px;
    height: 134px;
}
.position {
    position: relative;
    top: -90px;
}
aside {
    border-bottom: 1px solid red;
    z-index: 1;
    position: sticky;
    top: 200px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1%;
    width: 87%;
    height: 250px;
}
aside a {
    border: 1px solid red;
    padding: 1px;
    margin-bottom: 2000000000px;
    /* margin: 25px; */
    text-align: center;
    text-decoration: none;
    color: #9e9c9c;
    font-size: 12px;
}
.riga {
    border-bottom: 1px solid #9e9c9c;
}
aside div {
    border: 1px solid red;
    align-items: center;
    margin-top: 20px;
}

.scatola1 {

    border-radius: 4px;
   margin-bottom: 2000000000px;
    padding-top: 5px;
    border: 1px solid #9e9c9c;
    background-color: white;
    width: 30%;
    height: 20px;
}
.scatola2 {
    border-radius: 4px;

    border: 1px solid #9e9c9c;
    background-color: white;
    width: 20%;
    height: 20px;
}
.scatola3 {
    border-radius: 4px;
    padding-top: 5px;
    border: 1px solid #9e9c9c;
    background-color: white;
    width: 17%;
    height: 20px;
}

.scatola4 {
    border-radius: 4px;
    padding-top: 5px;
    border: 1px solid #9e9c9c;
    background-color: white;
    width: 27%;
    height: 20px;
}
.scatola5 {
    border-radius: 4px;
    padding-top: 5px;
    border: 1px solid #9e9c9c;
    background-color: white;
    width: 15%;
    height: 20px;
}
.scatola6 {
    border-radius: 4px;
    padding-top: 5px;
    border: 1px solid #9e9c9c;
    background-color: white;
    width: 27%;
    height: 20px;
}
.scatola7 {
    border-radius: 4px;
    padding-top: 5px;
    border: 1px solid #9e9c9c;
    background-color: white;
    width: 27%;
    height: 20px;
}
.scatola8 {
    border-radius: 4px;
    padding-top: 5px;
    border: 1px solid #9e9c9c;
    background-color: white;
    width: 17%;
    height: 20px;
}
.scatola9 {
    border-radius: 4px;
    padding-top: 5px;
    border: 1px solid #9e9c9c;
    background-color: white;
    width: 14%;
    height: 20px;
}

aside h3 {
    border: 1px solid red;
    margin: 0px;
    width: 100%;
    height: 57px;
    font-size: 16px;
}
