<div *ngIf="movies.length > 0">
    <div *ngFor="let movie of movies" class="movie-card">
      <img [src]="movie.poster_path" alt="{{ movie.title }}" class="movie-poster">
      <div class="movie-details">
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.overview }}</p>
        <p>Release Date: {{ movie.release_date }}</p>
        <p>Vote Average: {{ movie.vote_average }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="movies.length === 0">
    <p>Nessun film disponibile al momento.</p>
  </div>
  