<div class="text-center bg-primary vh-100">
    <h1 class="border-bottom border-5 mx-5 border-black">MOVIE STREAM</h1>
    <h3>Benvenuto nella nostra piattaforma di streaming video!</h3>
    <h3>
        Per usufruire dei nostri servizi
        <a
            class="text-black"
            [routerLink]="['/login']"
            routerLinkActive="active"
            href=""
            >accedi</a
        >
        oppure
        <a
            class="text-black"
            [routerLink]="['/register']"
            routerLinkActive="active"
            href=""
            >registrati</a
        >
    </h3>
</div>
